@page
@model IndexModel
@{
    ViewData["Title"] = "EVF Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure App Service by EVF</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
